{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Falcon | Dashboard &amp; Web App Template</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apps/assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'apps/assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'apps/assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'apps/assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'apps/assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="{% static 'apps/assets/js/config.js' %}"></script>
    <script src="{% static 'apps/vendors/overlayscrollbars/OverlayScrollbars.min.js' %}"></script>
    <link href="{% static 'apps/vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="{% static 'apps/vendors/dropzone/dropzone.min.css' %}" rel="stylesheet">
    <link href="{% static 'apps/vendors/prism/prism-okaidia.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'apps/assets/css/theme-rtl.min.css' %}" rel="stylesheet" id="style-rtl">
    <link href="{% static 'apps/assets/css/theme.min.css' %}" rel="stylesheet" id="style-default">
    <link href="{% static 'apps/assets/css/user-rtl.min.css' %}" rel="stylesheet" id="user-style-rtl">
    <link href="{% static 'apps/assets/css/user.min.css' %}" rel="stylesheet" id="user-style-default">
    <link href="{% static 'apps/shop/select_shop/select_shop.css' %}" rel="stylesheet" id="user-style-default">

    <script>
        var isRTL = JSON.parse(localStorage.getItem('isRTL'));
        if (isRTL) {
            var linkDefault = document.getElementById('style-default');
            var userLinkDefault = document.getElementById('user-style-default');
            linkDefault.setAttribute('disabled', true);
            userLinkDefault.setAttribute('disabled', true);
            document.querySelector('html').setAttribute('dir', 'rtl');
        } else {
            var linkRTL = document.getElementById('style-rtl');
            var userLinkRTL = document.getElementById('user-style-rtl');
            linkRTL.setAttribute('disabled', true);
            userLinkRTL.setAttribute('disabled', true);
        }
    </script>
</head>


<body>
<main class="main" id="top">
    <div class="container" data-layout="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card theme-wizard mb-5">
                    <div class="card-body py-4">
                        <div class="tab-content">
                            <div class="tab-pane active px-sm-3 px-md-5" role="tabpanel"
                                 aria-labelledby="bootstrap-wizard-tab1" id="bootstrap-wizard-tab1">
                                <div class="card shadow-sm">
                                    <div class="card-body p-4">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="card-title mb-0">Create new store</h5>
                                            <button type="button" class="btn-close" aria-label="Close"></button>
                                        </div>

                                        <form method="POST" novalidate>
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label class="form-label" for="shopName">Store name</label>
                                                <div class="input-group">
                                                    <input type="text" name="name" class="form-control"
                                                           id="shopName" placeholder="Enter store name">
                                                    <button class="btn btn-outline-secondary" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="16" fill="currentColor" class="bi bi-x"
                                                             viewBox="0 0 16 16">
                                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label" for="categories">Categories</label>
                                                <select class="form-select" id="categories" name="shop_category">
                                                    <option value="" selected disabled>Select category</option>
                                                    {% for category in categories %}
                                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="mb-3">
                                                <label for="country" class="form-label">Business registered
                                                    county</label>
                                                <select class="form-select" id="country" name="country" required>
                                                    <option value="" selected disabled>Select country business is
                                                        registered
                                                    </option>
                                                    {% for country in countrys %}
                                                        <option value="{{ country.id }}">{{ country.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="mb-3">
                                                <label for="phone" class="form-label">Business phone number</label>
                                                <div class="input-group">
                                                    <input type="tel" class="form-control" id="phone" name="phone"
                                                           placeholder="Enter business number">
                                                    <button class="btn btn-outline-secondary" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="16" fill="currentColor" class="bi bi-x"
                                                             viewBox="0 0 16 16">
                                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="language" class="form-label">Language</label>
                                                <div class="position-relative">
                                                    <div class="form-control d-flex flex-wrap"
                                                         id="selected-languages"
                                                         style="min-height: 38px; cursor: pointer;">
                                                        <span class="text-muted">Select languages</span>
                                                    </div>
                                                    <select class="form-select d-none" id="language"
                                                            name="languages" multiple>
                                                        {% for language in languages %}
                                                            <option value="{{ language.id }}">{{ language.title }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="dropdown-menu w-100" id="language-dropdown">
                                                        {% for language in languages %}
                                                            <div class="dropdown-item">
                                                                <label>
                                                                    <input type="checkbox" value="{{ language.id }}"
                                                                           class="me-2">
                                                                    {{ language.title }}
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="currency" class="form-label">Currency</label>
                                                <select class="form-select" id="currency" name="currency">
                                                    <option value="" selected disabled>Select currency</option>
                                                    {% for currency in currencys %}
                                                        <option value="{{ currency.id }}">{{ currency.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="d-flex justify-content-between">
                                                <button type="button" class="btn btn-outline-secondary"
                                                        onclick="goToLogin()">Back
                                                </button>

                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'apps/shop/select_shop/select_shop.js' %}"></script>

<script src="{% static 'apps/vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'apps/vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'apps/vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'apps/vendors/is/is.min.js' %}"></script>
<script src="{% static 'apps/assets/js/flatpickr.js' %}"></script>
<script src="{% static 'apps/vendors/dropzone/dropzone.min.js' %}"></script>
<script src="{% static 'apps/vendors/lottie/lottie.min.js' %}"></script>
<script src="{% static 'apps/vendors/validator/validator.min.js' %}"></script>
<script src="{% static 'apps/vendors/prism/prism.js' %}"></script>
<script src="{% static 'apps/vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'apps/vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'apps/vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'apps/assets/js/theme.js' %}"></script>
 <script>
        function goToLogin() {
            window.location.href = "{% url 'login' %}";  // 'login' o'rniga haqiqiy URL nomini yozing
        }
    </script>
</body>

</html>